.donation-form__field-amount {
  position: relative;
}

.donation-form__field-amount::after {
  position: absolute;
  top: 0;
  right: 18px;
  width: 10px;
  height: 20px;
  background: url(/images/₽.svg) no-repeat center;
  content: '';
}
