.useful__img__glass {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 34px;
  right: 18px;
}

@media screen and (max-width: 500px) {
  .useful__img__glass {
    width: 85px;
    height: 85px;
    position: absolute;
    top: 107px;
    right: 44px;
  }
}
