.contacts__phone {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
  color: var(--color-turquoise-60);
}

@media screen and (max-width: 768px) {
  .contacts__phone {
    font-size: 28px;
    line-height: 42px;
  }
}
