.support-friends__button {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.67;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .support-friends__button {
    line-height: 1.25;
  }
}

@media screen and (max-width: 480px) {
  .support-friends__button {
    font-size: 10px;
  }
}
