.support-friends__form {
  flex: 1 1 auto;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 56px 36px 64px;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .support-friends__form {
    padding: 40px 24px;
  }
}
