.support-friends__form {
  width: 52vw;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 56px 36px 64px;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .support-friends__form {
    width: 83vw;
    padding: 40px 24px;
  }
}
