.navigation__link {
  color: var(--color-white);
  font-size: 15px;
  line-height: 1.25;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .navigation__link {
    font-size: 13px;
  }
}
