.useful__contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin-top: 56px;
  gap: 24px;
}

@media screen and (max-width: 1031px) {
  .useful__contents {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .useful__contents {
    display: block;
    margin: 24px 16px 0;
  }
}
