.header__logo {
  padding: 15px 20px 15px 0;
  box-sizing: border-box;
  margin: 0;
}

@media screen and (max-width: 860px) {
  .header__logo {
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    padding: 11px 0px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    padding-left: 24px;
  }
}
