.about__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: start;
  gap: 25px;
  padding: 0 24px;
}

@media screen and (max-width: 767px) {
  .about__info {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 42px;
  }
}
