.subscription__text {
  max-width: 428px;
  font-size: 16px;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  .subscription__text {
    line-height: 25px;
    max-width: none;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .subscription__text {
    text-align: start;
  }
}
