.our-friends {
  margin: 96px auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 1310px;
  padding: 0 15px;
}

@media screen and (max-width: 960px) {
  .our-friends {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .our-friends {
    margin-top: 56px;
    margin-bottom: 56px;
  }
}
