.our-friends {
  margin: 96px auto;
  box-sizing: border-box;
  width: 100%;
  max-width: 1310px;
  padding: 0 15px;
}

@media screen and (max-width: 960px) {
  .our-friends {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .our-friends {
    margin-top: 56px;
    margin-bottom: 56px;
  }
}

.our-friends__title {
  margin: 0;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.14;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .our-friends__title {
    font-size: 32px;
  }
}

.our-friends__carousel {
  margin-top: 56px;
}

@media screen and (max-width: 768px) {
  .our-friends__carousel {
    margin-top: 24px;
  }
}

.our-friends__slide {
  display: grid;
  gap: 30px;
  align-items: center;
  grid-template-columns: minmax(0, auto) 1fr;
  grid-template-areas: 'image text';
  height: 486px;
  padding-right: 125px;
}

@media screen and (max-width: 960px) {
  .our-friends__slide {
    grid-template-columns: 1fr;
    grid-template-areas: 'text';
    height: 408px;
    padding-right: 125px;
    padding-left: 125px;
    background-color: var(--color-grey-90);
  }
}

@media screen and (max-width: 600px) {
  .our-friends__slide {
    padding: 40px 32px;
    align-items: start;
    word-break: break-word;
  }
}

.our-friends__slide_direction_reverse {
  grid-template-areas: 'text image';
  grid-template-columns: 1fr minmax(0, auto);
  padding-right: 0;
  padding-left: 125px;
}

@media screen and (max-width: 960px) {
  .our-friends__slide_direction_reverse {
    grid-template-columns: 1fr;
    grid-template-areas: 'text';
    padding-right: 125px;
  }
}

@media screen and (max-width: 600px) {
  .our-friends__slide_direction_reverse {
    padding: 40px 32px;
  }
}

.our-friends__image {
  display: block;
  margin-top: auto;
  grid-area: image;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .our-friends__image {
    display: none;
  }
}

.our-friends__figure {
  margin: 0;
  grid-area: text;
}

.our-friends__blockquote {
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.32;
}

@media screen and (max-width: 1200px) {
  .our-friends__blockquote {
    font-size: 27px;
  }
}

.our-friends__blockquote-accent {
  font-style: italic;
  font-weight: 400;
}

.our-friends__cite {
  font-size: 18px;
  line-height: 1.44;
}

@media screen and (max-width: 600px) {
  .our-friends__cite {
    font-size: 16px;
  }
}

.our-friends__cite-accent {
  font-weight: 700;
}

.our-friends__pagination {
  bottom: -38px;
}
