.donation-form__fields {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 580px) {
  .donation-form__fields {
    grid-template-columns: repeat(2, 1fr);
  }
}
