.blog__label {
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 16px;
  margin: 0;
  padding: 2px 8px;
  font-weight: 700;
  font-size: 10px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: var(--color-white);
}
