.programs__name {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: var(--color-white);
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .programs__name {
    font-size: 8px;
  }
}
