.about__item__image__lamp {
  padding-top: 30px;
  padding-left: 38px;
}

@media screen and (max-width: 767px) {
  .about__item__image__lamp {
    width: 14vw;
    max-width: 70px;
    padding-top: 40px;
    padding-left: 20px;
  }
}
