.our-friends__slide {
  display: grid;
  gap: 30px;
  align-items: center;
  grid-template-columns: minmax(0, auto) 1fr;
  grid-template-areas: 'image text';
  height: 486px;
  padding-right: 125px;
}

@media screen and (max-width: 960px) {
  .our-friends__slide {
    grid-template-columns: 1fr;
    grid-template-areas: 'text';
    height: 408px;
    padding-right: 125px;
    padding-left: 125px;
    background-color: var(--color-grey-90);
  }
}

@media screen and (max-width: 600px) {
  .our-friends__slide {
    padding: 40px 32px;
    align-items: start;
    word-break: break-word;
  }
}
