.footer__section_name_content {
  justify-content: space-between;
  gap: 25px;
  padding-bottom: 42px;
}

@media screen and (max-width: 1025px) {
  .footer__section_name_content {
    flex-wrap: wrap;
    padding-bottom: 24px;
  }
}
