.donation-form__control-checkbox {
  --active: var(--color-turquoise-40);
  --active-inner: var(--color-white);
  --input-border: var(--color-black);
  --input-border-hover: var(--color-turquoise-40);
  --background: var(--color-white);
  --disabled: var(--color-grey-80);
  --disabled-inner: var(--color-black);

  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding: 0;
  background: var(--background);
  border: 1px solid var(--input-border);
  outline: none;
  box-shadow: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease, border-color 0.3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.donation-form__control-checkbox::after {
  position: absolute;
  display: block;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.2s ease, filter 0.3s ease;
  content: '';
  top: 2px;
  left: 6px;
  width: 5px;
  height: 9px;
  border: 1px solid var(--active-inner);
  border-top: 0;
  border-left: 0;
  transform: rotate(20deg);
}

.donation-form__control-checkbox:hover:not(:checked):not(:disabled) {
  --active-inner: var(--input-border-hover);

  border-color: var(--input-border-hover);
}

.donation-form__control-checkbox:disabled {
  background: var(--disabled);
  cursor: not-allowed;
  opacity: 0.5;
}

.donation-form__control-checkbox:checked {
  background: var(--active);
  border-color: var(--active);
}

.donation-form__control-checkbox:checked:disabled {
  --active-inner: var(--disabled-inner);

  background: var(--disabled);
  border-color: var(--input-border);
}

.donation-form__control-checkbox:checked::after {
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2);
  transform: rotate(43deg);
}
