.donation-form__card-front {
  --control-background-color: var(--color-white);

  z-index: 1;
  box-sizing: border-box;
  max-width: 364px;
  padding: 24px;
  background: var(--color-grey-90);
  border-radius: 8px;
}

@media screen and (max-width: 580px) {
  .donation-form__card-front {
    width: 100%;
    max-width: 100%;
  }
}
