.main-carousel__title {
  margin: 0;
  font-weight: 700;
  font-size: 62px;
  line-height: 1.06;
}

@media screen and (max-width: 1200px) {
  .main-carousel__title {
    font-size: 48px;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 900px) {
  .main-carousel__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .main-carousel__title {
    font-size: 24px;
  }
}
