.partners__image {
  display: block;
  width: 124px;
  height: 124px;
  object-fit: cover;
  filter: saturate(0);
  opacity: 0.5;
  transition: opacity 0.3s ease, filter 0.3s ease;
}

.partners__image:hover {
  filter: saturate(1);
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .partners__image {
    width: 80px;
    height: 80px;
  }
}
