.blog {
  box-sizing: border-box;
  width: 100%;
  max-width: 1062px;
  margin: 96px auto;
  padding: 0 15px;
}

@media screen and (max-width: 768px) {
  .blog {
    margin-top: 0;
    margin-bottom: 56px;
  }
}
