.support-friends {
  background-color: var(--color-purple-70);
  display: flex;
  margin: 96px auto -50px;
  padding: 56px 32px 64px 32px;
  justify-content: space-between;
  max-width: 1134px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .support-friends {
    flex-direction: column;
    gap: 40px;
    padding: 48px 8px 8px;
  }
}

@media screen and (max-width: 769px) {
  .support-friends {
    margin-bottom: 0px;
  }
}
