.main-carousel__content {
  position: absolute;
  top: 125px;
  left: 84px;
  color: var(--color-white);
  padding: 40px 40px 48px;
  max-width: 954px;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .main-carousel__content {
    max-width: 700px;
  }
}

@media screen and (max-width: 900px) {
  .main-carousel__content {
    max-width: unset;
    right: 84px;
  }
}

@media screen and (max-width: 768px) {
  .main-carousel__content {
    top: 60px;
    right: 30px;
    left: 30px;
  }
}

@media screen and (max-width: 600px) {
  .main-carousel__content {
    top: 8px;
    right: 8px;
    left: 8px;
    padding: 24px 16px 26px;
  }
}
