.header__helpfund-link {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 212px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: var(--color-yellow-70);
  color: var(--color-white);
  border: none;
  line-height: 1.25;
  font-size: 14px;
  cursor: pointer;
}

.header__helpfund-link:hover {
  background-color: var(--color-yellow-60);
}
@media screen and (max-width: 1024px) {
  .header__helpfund-link {
    width: 180px;
    margin-left: auto;
  }
}

@media screen and (max-width: 768px) {
  .header__helpfund-link {
    width: 136px;
    margin-left: auto;
  }
}
